nav {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav div {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

nav img {
    width: 70px;
    height: auto;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

nav a:hover {
    color: #666666;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/Default_Fried_pastry_0.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(244, 244, 244, 0.5); 
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, p {
    color: white; /* Letras brancas */
}


body {
    font-family: Arial, sans-serif;
    background-image: url('images/Default_Fried_pastry_0.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(244, 244, 244, 0.5); 
}
 

body::before {
    content: '';
    display: block;
    position: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);/ z-index: -1;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;

}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

.Destaque h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.carousel {
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-box-shadow .5s ease-in-out;
    transition: box-shadow .5s ease-in-out;
    transition: box-shadow .5s ease-in-out, -webkit-box-shadow .5s ease-in-out;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}

.carousel-inner .carousel-item {
    width: 1200px;
    height: 300px;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.Cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.item {
    flex: 1 0 21%;
    margin: 1%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
}

.item h4,
.item p {
    padding: 1rem;
    color: white; 
}



#sobre-nos {
    background-color: #f8f9fa; 
    padding: 750px; 
}

#sobre-nos h2 {
    font-size: 2em;
    color: #333; 
    text-align: center; 
    margin-bottom: 70px; 
}

#sobre-nos p {
    font-size: 1.1em; 
    line-height: 1.6; 
    color: #555; 
    margin-bottom: 80px; 
}

#contato {
    background-color: #f8f9fa; 
    padding: 250px; 
    
}

#contato h2 {
    font-size: 2em; 
    color: #333; 
    text-align: center; 

    margin-bottom: 30px; 
}

#contato h4 {
    font-size: 1.5em; 
    color: #555;
    margin-bottom: 20px; 

}

#contato p {
    font-size: 1.1em; 
    line-height: 1.6;
    color: #555; 
    margin-bottom: 10px; 
}

#contato ul {
    margin-left: 20px; 
}

#contato ul li {
    margin-bottom: 5px; 
    
}

#contato ul li a {
    color: #007bff; 
    text-decoration: none; 
}

#contato ul li a:hover {
    text-decoration: underline; 
}
